@use '@/styles/index' as *;

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: $spacing-xl;
    padding: $spacing-xl 0;
    justify-items: center;
}

// Tablets
@media (max-width: 720px) {
    .content {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: $spacing-md;
    }
}

// Mobile devices 
@media (max-width: 500px) {
    .content {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        gap: $spacing-xs;
        padding: $spacing-md 0;
    }
}