@use '@/styles/index' as *;

.product-page {
    padding: $spacing-xxl 0;

    @media (max-width: 1024px) {
        padding: $spacing-xl 0;
    }

    @media (max-width: 480px) {
        padding: $spacing-lg 0;
    }
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-xxl;

    @media (max-width: 1024px) {
        gap: $spacing-xl;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.details-column {
    display: flex;
    flex-direction: column;
}