@use '../../../styles/index'  as *;

// Анимация вращения
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rem;
}

.spinner {
  width: $loader-size-md;
  height: $loader-size-md;
  border-radius: $radius-circle;

  background: conic-gradient($primary-accent, $gradient-mid-1, $primary-accent);

  mask-image: radial-gradient(farthest-side,
    transparent calc(100% - #{$loader-border-width}),
    #000 0);
  -webkit-mask-image: radial-gradient(farthest-side,
    transparent calc(100% - #{$loader-border-width}),
    #000 0);

  animation: spin $transition-slow linear infinite;
}