@use '@/styles/index'as *;

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  pointer-events: none;
}

.spinnerWrapper--xs {
  padding: $spacing-xs;
}

.spinnerWrapper--sm {
  padding: $spacing-sm;
}

.spinnerWrapper--md {
  padding: 20rem;
}

.spinner {
  border-radius: $radius-circle;
  background: conic-gradient($primary-accent, $gradient-logo-mid-1, $primary-accent);
  animation: spin $animation-spin-duration linear infinite;
}

.spinner--xs {
  width: $loader-size-xs;
  height: $loader-size-xs;

  mask-image: radial-gradient(farthest-side,
    transparent calc(100% - #{$loader-border-width-xs}),
    #000 0);
  -webkit-mask-image: radial-gradient(farthest-side,
    transparent calc(100% - #{$loader-border-width-xs}),
    #000 0);
}

.spinner--sm {
  width: $loader-size-sm;
  height: $loader-size-sm;

  mask-image: radial-gradient(farthest-side,
    transparent calc(100% - #{$loader-border-width-sm}),
    #000 0);
  -webkit-mask-image: radial-gradient(farthest-side,
    transparent calc(100% - #{$loader-border-width-sm}),
    #000 0);
}

.spinner--md {
  width: $loader-size-md;
  height: $loader-size-md;

  mask-image: radial-gradient(farthest-side,
    transparent calc(100% - #{$loader-border-width}),
    #000 0);
  -webkit-mask-image: radial-gradient(farthest-side,
    transparent calc(100% - #{$loader-border-width}),
    #000 0);
}