@use '@/app/styles/index' as *;

.admin-dashboard-page__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-lg;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.admin-dashboard-page__span-2 {
  grid-column: 1 / -1;
}
