@use '@/app/styles/index' as *;

.password-requirements {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  margin-top: $spacing-xxs;
  margin-bottom: $spacing-xxs;
  font-size: $fs-sm;
  color: var(--text-muted);
}

.password-requirements__item {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  transition: color $transition-base $ease-out-expo;

  &--met {
    color: var(--primary-accent);
  }

  &--error {
    color: var(--error-color);
  }

  &--unmet {
    color: var(--text-muted);
  }
}

.password-requirements__icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
