@use '@/styles/index' as *;

.layout {
    padding-top: $header-height;
    min-height: 100vh;
    padding-bottom: $header-height;
}

.mobileBar {
    display: none;

    @media (max-width: 460px) {
        display: block;
    }
}