@use '@/styles/index' as *;

.layout {
    padding-top: $header-height;
    min-height: 100vh;

    @media (max-width: 768px) {
        padding-top: $header-height-tablet;
    }

    @media (max-width: 460px) {
        padding-top: 0;
    }
}