@use '@/app/styles/index' as *;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-lg;
    padding: $spacing-xs $spacing-md;
    border-radius: $radius-pill;
    position: sticky;
    top: calc($topbar-height + $spacing-xs);
    margin-top: $spacing-xs;
    z-index: $z-index-sticky;
    max-width: 50rem;
    width: calc(100% - #{$spacing-xl} * 2 - var(--removed-body-scroll-bar-size, 0px));
    inset-inline: 0 var(--removed-body-scroll-bar-size, 0px);
    margin-inline: auto;
    background: var(--navbar-bg-default);
    border: 1px solid var(--border-color-subtle);
    backdrop-filter: $backdrop-blur-sm;
    box-shadow: none;
    transition: background-color $transition-base, border-color $transition-base, backdrop-filter $transition-base ;

    &--overlay {
        position: fixed;
        z-index: $z-index-fixed;
    }

    &:global(.scrolled) {
        background: var(--navbar-bg-scrolled);
        backdrop-filter: $backdrop-blur;
        border: 1px solid var(--border-color);
        box-shadow: var(--shadow-default);
    }

    &__form {
        display: flex;
        justify-content: center;
        flex: 1;
    }

    &__main_actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: $spacing-md;
        transition: $transition-layout $ease-out-expo;
    }
}

@media (max-width: 525px) {
    .nav {
        display: none;
    }
}