@use '@/styles/index' as *;

.image-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    width: 100%;
    padding: $spacing-xl;
    overflow: hidden;
    border-radius: $radius-xl;
    border: 1px solid var(--border-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    background: var(--background-image-holder);

    @media (max-width: 768px) {
        max-width: 450px;
        padding: $spacing-lg;
    }
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}