@use '@/app/styles/index' as *;

.profile-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.profile-form__actions {
  display: flex;
  gap: $spacing-sm;
  margin-top: $spacing-sm;

  button {
    flex: 1;
  }
}
