@use '@/app/styles/index' as *;

.layout {
    padding-top: $header-height;
    min-height: 100vh;
    padding-bottom: $header-height;

    &--flush {
        padding-top: 0;
    }
}

.mobileBar {
    display: none;

    @media (max-width: 525px) {
        display: block;
    }
}