.col {
  grid-column: span var(--col-span, 12);
  align-self: var(--col-align, start);
  min-width: 0;

  @media (max-width: 1024px) {
    grid-column: span var(--col-span-md, 12);
  }

  @media (max-width: 768px) {
    grid-column: span 12;
  }
}
